
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}

:root {
    --main-background: #1F2020;
    --secondary-background: #00337C;
    --tertiary-background: #1C82AD;
    --cuaternary-background: ##16A085;
    --quintern-background: white;
    --sixtern-background: #0c0033;
    --font-color-primary: #9ba8a8;
    --font-color-secondary: white;
    --font-color-tertiary: #42f1a8;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --h3-font: 1.1rem;

}

.logo {
    width: 200px;
    height: auto;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: left;
}

/* FROM MOBILE STYLES */

body{
    background-color: var(--primary-background);
    color: var(--font-color-primary);
}

.header {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px;
    transition: all .45s ease;
}

.navlist {
    display: flex;
    align-items: block;
}

.navlist a{
    color: var(--font-color-secondary);
    font-size: 17px;
    font-weight: 500;
    margin: 10px 25px;
    transition: all .45s ease;
    display: flex;
    text-align: center;
    z-index: 1002;
    position: relative;
}

.navlist a:hover{
    color: var(--font-color-secondary);
    text-decoration-line: underline overline;
    text-underline-offset: 8px;


}

.navlist a.active{
    color: var(--font-color-tertiary);
    font-weight: bold;
    font-size: 18px;
}

.bar {
    height: 115px;
    width: 1600px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 998;
    margin-bottom: 10px;
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
}

#menu-icon{
    font-size: 35PX;
    color: var(--font-color-primary);
    z-index: 1001;
    cursor: pointer;
    margin-left: 35px;
    display: flexbox;
}   

#menu-icon {
    color: var(--font-color-tertiary);
}

section{
    padding: 160px 15% 120px;
    color: var(--font-color-secondary);
}

.home{
    margin-top: 30px;
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 2400px;
    background-image: url(images/Fondo_Paul.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}       

.slide {
    margin: 0 0 5 0;
    font-size: 1rem;
}

.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding:0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--sixtern-background);
    opacity: .75;
}

.two {
    display: inline-block;
    color: var(--font-color-secondary);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--font-color-secondary);
    text-shadow: var(--secondary-background) 0.01em 0.05em 0.8em;
    list-style: 1.1;
    margin: 0 0 0;
}

.home-text h3{
    color: var(--font-color-secondary);
    margin: 0 0 35px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
}

.Photo {
    width: 100%;
    max-width: 460px;
    margin: 0 0 0 0;
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
    padding-top: 60px;
}


.biography {
    display: block;
    position: flex;
    height: 15vh;
    width: 100%;
}

.tittle{
    color: var(--sixtern-background);
    margin-top: 0;
}

.description {
    color: var(--main-background);
    position: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: left;
    justify-content: right;
    text-align: left;
}

.contact {
    color: var(--sixtern-background);
    margin: 0 0 35px;
}