
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}

:root {
    --main-background: #1F2020;
    --secondary-background: #00337C;
    --tertiary-background: #1C82AD;
    --cuaternary-background: ##16A085;
    --quintern-background: white;
    --font-color-primary: #797E7E;
    --font-color-secondary: white;
    --font-color-tertiary: #76D7C4;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;

}

.logo {
    width: 200px;
    height: auto;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: left;
}

/* FROM MOBILE STYLES */

body {
    background-color: var(--main-background);
}


header {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px;
    transition: all .45s ease;
}

.container {
    padding: 10px;
    width: 100%; 
}

.navlist {
    display: flex;
}

.navlist a{
    color: #797E7E;
    font-size: 17px;
    font-weight: 500;
    margin: 0 10px;
    transition: all .45s ease
}

.navlist a:hover{
    color: var(--font-color-secondary);
}

.navlist a.active{
    color: #76D7C4;
}

.bx-menu{
    color: #797E7E;
}

.bx-menu {
    hover color: #76D7C4;
}



/*background-image: url(images/zyro-image.png);
    background-size: cover;
    background-position: center; */